body {
    font-family: 'Tahoma', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 3em;
  }
  
  section {
    padding: 20px;
    margin: 20px;
  }
  
  #games .game {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 10px;
  }
  
  #games img {
    width: 100%;
    height: auto;
  }
  
  #games h3 {
    color: #4CAF50;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  form {
    margin-top: 20px;
  }
  
  select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
  }
  
  button:hover {
    background-color: #45a049;
  }
  